.checkout_product{
    display: flex;
}
.checkout_product_title{
    font-size: 17px;
    font-weight: 800;
}

.checkout_product_image{
    width:180px;
    object-fit: contain;
    height: 180px;
}
.checkout_product_ratings{
    display: flex;
}
.checkout_product_info{
    padding: left 20px;;
}
.checkout_product_info>button{
    background-color: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color:#a88734 #9c7e31 #846a29 ;
    color:black;
    border-radius: 10px;
    width: 180px;
    
}